In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [0]:
pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp36-none-any.whl size=5975 sha256=c394d440264a70912c6efc0d7f7dd26229041d86bcbf998753dd64f17516a582
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [0]:
data = pd.read_csv('/new_food.csv')

In [0]:
data.head()

   Gender Nationality  Age              Food
0    Male      Indian   24  Traditional food
1  Female      Indian   22      Western Food
2    Male      Indian   31      Western Food
3  Female      Indian   25  Traditional food
4    Male      Indian   27  Traditional food

In [0]:
data = pd.read_csv('/new_food.csv', header=None)

In [0]:
data.head()

        0            1    2                 3
0  Gender  Nationality  Age              Food
1    Male       Indian   24  Traditional food
2  Female       Indian   22      Western Food
3    Male       Indian   31      Western Food
4  Female       Indian   25  Traditional food

In [0]:
records = []
for i in range(0, 289):
    records.append([str(data.values[i,j]) for j in range(0, 4)])

In [0]:
association_rules = apriori(records, min_support=0.0045, min_confidence=0.2, min_lift=3, min_length=3)
association_results = list(association_rules)

In [0]:
print(len(association_results))

38

In [0]:
for item in association_results:
    pair = item[0] 
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])
    # print("Support: " + str(item[1]))
    # print("Confidence: " + str(item[2][0][2]))
    print("=====================================")

Rule: Western Food -> 13
=====================================
Rule: 16 -> Western Food
=====================================
Rule: Indonesia -> 19
=====================================
Rule: Indonesia -> 20
=====================================
Rule: Malaysian -> 20
=====================================
Rule: 21 -> Malaysian
=====================================
Rule: Indonesia -> 22
=====================================
Rule: Maldivian -> Western Food
=====================================
Rule: Male -> Indian
=====================================
Rule: Western Food -> Indian
=====================================
Rule: Male -> Western Food
=====================================
Rule: 16 -> Female
=====================================
Rule: 16 -> Western Food
=====================================
Rule: Indonesia -> Male
=====================================
Rule: Indonesia -> 19
=====================================
Rule: Malaysian -> 19
=====================================
Rule: Indonesia -> Male
=====================================
Rule: Indonesia -> Traditional food
=====================================
Rule: Male -> Malaysian
=====================================
Rule: Traditional food -> Malaysian
=====================================
Rule: 21 -> Male
=====================================
Rule: 21 -> Malaysian
=====================================
Rule: Indonesia -> Traditional food
=====================================
Rule: Female -> Western Food
=====================================
Rule: Female -> 31
=====================================
Rule: Western Food -> 31
=====================================
Rule: Male -> 9
=====================================
Rule: Maldivian -> Female
=====================================
Rule: Western Food -> Male
=====================================
Rule: 16 -> Female
=====================================
Rule: Indonesia -> Male
=====================================
Rule: Indonesia -> Traditional food
=====================================
Rule: 21 -> Male
=====================================
Rule: Western Food -> Female
=====================================
Rule: 23 -> Male
=====================================
Rule: Western Food -> Female
=====================================
Rule: Western Food -> Female
=====================================
Rule: Traditional food -> Male
=====================================