In [2]:
import pandas as pd
df = pd.read_csv('fooddata.csv')
df.head()

   Gender  age  fav_cuisine_coded
0       2   20                  3
1       1   22                  1
2       1   22                  1
3       1   19                  3
4       1   21                  1

In [0]:
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split

In [0]:
features = ['Gender', 'age']
target = ['fav_cuisine_coded']
X = df[features]
y = df[target]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=27)

In [0]:
categories = [0,1,2,3,4,5,6,7,8]

In [7]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(100, 2)
(25, 2)
(100, 1)
(25, 1)

In [8]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=150, random_state=0)
clf.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=150,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [10]:
predictions = clf.predict(X_test)
print(predictions)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 4 1 1 1 1 1 1 1 1 1 1]

In [11]:
l=y_test['fav_cuisine_coded'].values.tolist()
print(l)
y=list(predictions)
print(y)

[1, 5, 5, 0, 1, 5, 1, 1, 4, 1, 1, 2, 5, 2, 4, 1, 1, 4, 1, 1, 1, 1, 3, 2, 5]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [13]:
c=0
for i in range(0,25):
  if l[i]==y[i]:
    c=c+1
print(c)

13

In [19]:
print ((c*100)/25)

52.0