In [0]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder

In [0]:
dataset = pd.read_csv('food_choice.csv')
print(dataset.head)

<bound method NDFrame.head of      Age  Gender  ... Allergies           State
0     24  Female  ...        No   Uttar Pradesh
1     24  Female  ...        No    Maharashtra
2     25  Female  ...        No     Maharashtra
3     25  Female  ...        No     Maharashtra
4     25  Female  ...        No     Uttarakhand
..   ...     ...  ...       ...             ...
206   25  Female  ...    Citrus  Andhra Pradesh
207   24    Male  ...        No           Delhi
208   25    Male  ...        No     Uttarakhand
209   25  Female  ...        No           Delhi
210   24    Male  ...        No   Uttar Pradesh

[211 rows x 7 columns]>

In [0]:
cuisines=["Italian","Mexican","Turkish","Chinese","American","African","Jamaican","Indian","Kid Friendly","Asian","Mediterranean","Greek","Portuguese","Hungarian","Swedish","Hawaiian","Cuban","Japanese","Irish","Moroccan","German","Thai","Spanish","English","Barbecue","Southwestern","French","Other"]

In [0]:
cuisines_map={"Italian":0,"Mexican":1,"Turkish":2,"Chinese":3,"American":4,"African":5,"Jamaican":6,"Indian":7,"Kid Friendly":8,"Asian":9,"Mediterranean":10,"Greek":11,"Portuguese":12,"Hungarian":13,"Swedish":14,"Hawaiian":15,"Cuban":16,"Japanese":17,"Irish":18,"Moroccan":19,"German":20,"Thai":21,"Spanish":22,"English":23,"Barbecue":24,"Southwestern":25,"French":26,"Other":27}

In [0]:
X=np.array(dataset.iloc[:,2])
ans=[]
ind=-1
for i in X:
  length=0
  string=i
  strs=''
  li=[]
  ind=ind+1
  for j in range(len(string)):
    # print(string[j])
    if string[j]==',':
      li.append(cuisines_map[strs])
      strs=''
    elif string[j]==' ' and string[j-1]=='d' and string[j+1]=='F':
      strs=strs+string[j]
    elif string[j]==' ':
      continue
    else:
      strs=strs+string[j]
  ans.append(li)

In [0]:
ar=[]
for i in range(211):
  li=ans[i]
  lis=[]
  for j in range(28):
    if j in li:
      lis.append(1)
    else:
      lis.append(0)
  ar.append(lis)

In [0]:
df2 = pd.DataFrame(ar)
print(df2)

     0   1   2   3   4   5   6   7   8   9   ...  18  19  20  21  22  23  24  25  26  27
0     1   1   0   1   0   0   0   1   0   1  ...   0   0   0   1   0   0   1   0   0   0
1     0   0   0   1   0   0   0   1   0   0  ...   0   0   0   0   0   0   0   0   0   0
2     0   0   0   0   0   0   0   1   0   0  ...   0   0   0   0   0   0   0   0   0   0
3     1   0   1   0   0   0   0   1   1   0  ...   0   0   0   1   0   0   0   0   0   0
4     1   0   0   1   0   0   0   1   0   0  ...   0   0   0   1   0   0   0   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
206   1   1   0   1   1   0   0   1   0   1  ...   0   0   0   1   0   1   1   0   0   0
207   1   0   0   0   0   0   0   1   0   0  ...   0   0   0   0   0   0   0   0   0   0
208   1   0   0   1   1   0   0   1   0   0  ...   0   0   0   0   0   0   1   0   1   0
209   1   0   0   1   0   0   0   1   0   0  ...   0   0   0   0   0   0   0   0   0   0
210   1   0   0   1   0   0   0   1   0   0  ...   0   0   0   0   0   0   0   0   0   0

[211 rows x 28 columns]

In [0]:
datset=dataset.append(df2)

     Age  Gender  ... Allergies           State
0     24  Female  ...        No   Uttar Pradesh
1     24  Female  ...        No    Maharashtra
2     25  Female  ...        No     Maharashtra
3     25  Female  ...        No     Maharashtra
4     25  Female  ...        No     Uttarakhand
..   ...     ...  ...       ...             ...
206   25  Female  ...    Citrus  Andhra Pradesh
207   24    Male  ...        No           Delhi
208   25    Male  ...        No     Uttarakhand
209   25  Female  ...        No           Delhi
210   24    Male  ...        No   Uttar Pradesh

[211 rows x 7 columns]

In [0]:
df1 = dataset.join(df2)

     Age  Gender                                        Fav_Cuisine  ... 25 26 27
0     24  Female  Italian,Mexican ,Chinese ,Indian,Asian,Mediter...  ...  0  0  0
1     24  Female                                   Chinese ,Indian,  ...  0  0  0
2     25  Female                                            Indian,  ...  0  0  0
3     25  Female         Italian,Turkish,Indian,Kid Friendly ,Thai,  ...  0  0  0
4     25  Female                      Italian,Chinese ,Indian,Thai,  ...  0  0  0
..   ...     ...                                                ...  ... .. .. ..
206   25  Female  Italian,Mexican ,Chinese ,American,Indian,Asia...  ...  0  0  0
207   24    Male                                    Italian,Indian,  ...  0  0  0
208   25    Male  Italian,Chinese ,American,Indian,Barbecue,French,  ...  0  1  0
209   25  Female                           Italian,Chinese ,Indian,  ...  0  0  0
210   24    Male                           Italian,Chinese ,Indian,  ...  0  0  0

[211 rows x 35 columns]

In [0]:
del df1['Fav_Cuisine']

In [0]:
df1.columns=['Age','Gender','Spiciness','Food_Choice','Allergies','State',"Italian","Mexican","Turkish","Chinese","American","African","Jamaican","Indian","Kid Friendly","Asian","Mediterranean","Greek","Portuguese","Hungarian","Swedish","Hawaiian","Cuban","Japanese","Irish","Moroccan","German","Thai","Spanish","English","Barbecue","Southwestern","French","Other"]

In [0]:
new = df1[["Italian","Mexican","Turkish","Chinese","American","African","Jamaican","Indian","Kid Friendly","Asian","Mediterranean","Greek","Portuguese","Hungarian","Swedish","Hawaiian","Cuban","Japanese","Irish","Moroccan","German","Thai","Spanish","English","Barbecue","Southwestern","French","Other"]].copy()

In [0]:
data_new=df1[['Age','Gender','Spiciness','Food_Choice','State']].copy()
f2=df1[['Gender']].copy()
f3=df1[['Spiciness']].copy()

     Age  Gender Spiciness       Food_Choice           State
0     24  Female  Moderate        Eggiterian   Uttar Pradesh
1     24  Female  Moderate  Non - Vegetarian    Maharashtra
2     25  Female  Moderate       Vegetarian      Maharashtra
3     25  Female       Low  Non - Vegetarian     Maharashtra
4     25  Female  Moderate        Eggiterian     Uttarakhand
..   ...     ...       ...               ...             ...
206   25  Female      High  Non - Vegetarian  Andhra Pradesh
207   24    Male  Moderate       Vegetarian            Delhi
208   25    Male  Moderate       Vegetarian      Uttarakhand
209   25  Female  Moderate        Eggiterian           Delhi
210   24    Male  Moderate       Vegetarian    Uttar Pradesh

[211 rows x 5 columns]

In [0]:
from mlxtend.frequent_patterns import apriori
apriori(new, min_support=0.6)

    support itemsets
0  0.933649      (7)

In [0]:
frequent_itemsets = apriori(new, min_support=0.1, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

     support                              itemsets  length
0   0.483412                             (Italian)       1
1   0.227488                             (Mexican)       1
2   0.473934                             (Chinese)       1
3   0.194313                            (American)       1
4   0.933649                              (Indian)       1
5   0.142180                               (Asian)       1
6   0.137441                                (Thai)       1
7   0.127962                             (English)       1
8   0.199052                            (Barbecue)       1
9   0.118483                              (French)       1
10  0.184834                    (Italian, Mexican)       2
11  0.345972                    (Chinese, Italian)       2
12  0.161137                   (Italian, American)       2
13  0.450237                     (Italian, Indian)       2
14  0.118483                      (Italian, Asian)       2
15  0.127962                       (Italian, Thai)       2
16  0.104265                    (Italian, English)       2
17  0.146919                   (Barbecue, Italian)       2
18  0.109005                     (Italian, French)       2
19  0.165877                    (Chinese, Mexican)       2
20  0.213270                     (Mexican, Indian)       2
21  0.156398                   (Chinese, American)       2
22  0.445498                     (Chinese, Indian)       2
23  0.104265                      (Chinese, Asian)       2
24  0.104265                       (Chinese, Thai)       2
25  0.142180                   (Chinese, Barbecue)       2
26  0.104265                     (Chinese, French)       2
27  0.180095                    (American, Indian)       2
28  0.127962                       (Asian, Indian)       2
29  0.137441                        (Indian, Thai)       2
30  0.113744                     (English, Indian)       2
31  0.180095                    (Barbecue, Indian)       2
32  0.113744                      (French, Indian)       2
33  0.146919           (Chinese, Italian, Mexican)       3
34  0.175355            (Italian, Mexican, Indian)       3
35  0.132701          (Chinese, Italian, American)       3
36  0.336493            (Chinese, Italian, Indian)       3
37  0.118483          (Barbecue, Chinese, Italian)       3
38  0.151659           (Italian, American, Indian)       3
39  0.109005              (Italian, Asian, Indian)       3
40  0.127962               (Italian, Indian, Thai)       3
41  0.132701           (Barbecue, Italian, Indian)       3
42  0.104265             (Italian, French, Indian)       3
43  0.156398            (Chinese, Mexican, Indian)       3
44  0.146919           (Chinese, American, Indian)       3
45  0.104265               (Chinese, Indian, Thai)       3
46  0.132701           (Chinese, Barbecue, Indian)       3
47  0.142180   (Chinese, Italian, Mexican, Indian)       4
48  0.123223  (Chinese, Italian, American, Indian)       4
49  0.109005  (Barbecue, Chinese, Italian, Indian)       4

In [0]:
frequent_itemsets[ (frequent_itemsets['length'] >= 2) &
                   (frequent_itemsets['support'] >= 0.3) ]

     support                    itemsets  length
11  0.345972          (Chinese, Italian)       2
13  0.450237           (Italian, Indian)       2
22  0.445498           (Chinese, Indian)       2
36  0.336493  (Chinese, Italian, Indian)       3

In [0]:
from mlxtend.frequent_patterns import association_rules

In [0]:
results=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

In [0]:
print(results)

                     antecedents        consequents  ...  leverage  conviction
0                      (Mexican)          (Italian)  ...  0.074864    2.755134
1                      (Chinese)          (Italian)  ...  0.116866    1.913288
2                      (Italian)          (Chinese)  ...  0.116866    1.850302
3                     (American)          (Italian)  ...  0.067204    3.025728
4                      (Italian)           (Indian)  ... -0.001101    0.966825
..                           ...                ...  ...       ...         ...
71  (Chinese, Barbecue, Italian)           (Indian)  ... -0.001617    0.829384
72   (Chinese, Barbecue, Indian)          (Italian)  ...  0.044855    2.892891
73   (Italian, Barbecue, Indian)          (Chinese)  ...  0.046113    2.945972
74           (Chinese, Barbecue)  (Italian, Indian)  ...  0.044990    2.356127
75           (Italian, Barbecue)  (Chinese, Indian)  ...  0.043552    2.148697

[76 rows x 9 columns]

In [0]:
from sklearn.preprocessing import OneHotEncoder

In [0]:
dat_new1=pd.get_dummies(data_new.Gender)
dat_new2=pd.get_dummies(data_new.Spiciness)
dat_new3=pd.get_dummies(data_new.Food_Choice)
dat_new4=pd.get_dummies(data_new.State)

     Eggiterian  Non - Vegetarian  Vegan  Vegetarian
0             1                 0      0            0
1             0                 1      0            0
2             0                 0      0            1
3             0                 1      0            0
4             1                 0      0            0
..          ...               ...    ...          ...
206           0                 1      0            0
207           0                 0      0            1
208           0                 0      0            1
209           1                 0      0            0
210           0                 0      0            1

[211 rows x 4 columns]

In [0]:
df_new=dat_new1.join(dat_new2)
df_new=df_new.join(dat_new3)
df_new=df_new.join(dat_new4)

     Female  Male  Prefer not to say  ...  Uttarakhand  Uttarakhand   West Bengal
0         1     0                  0  ...            0             0            0
1         1     0                  0  ...            0             0            0
2         1     0                  0  ...            0             0            0
3         1     0                  0  ...            0             0            0
4         1     0                  0  ...            1             0            0
..      ...   ...                ...  ...          ...           ...          ...
206       1     0                  0  ...            0             0            0
207       0     1                  0  ...            0             0            0
208       0     1                  0  ...            1             0            0
209       1     0                  0  ...            0             0            0
210       0     1                  0  ...            0             0            0

[211 rows x 34 columns]

In [0]:
df_new['Age']=data_new['Age']

In [0]:
df_new=df_new.join(new)

     Female  Male  Prefer not to say  ...  Southwestern  French  Other
0         1     0                  0  ...             0       0      0
1         1     0                  0  ...             0       0      0
2         1     0                  0  ...             0       0      0
3         1     0                  0  ...             0       0      0
4         1     0                  0  ...             0       0      0
..      ...   ...                ...  ...           ...     ...    ...
206       1     0                  0  ...             0       0      0
207       0     1                  0  ...             0       0      0
208       0     1                  0  ...             0       1      0
209       1     0                  0  ...             0       0      0
210       0     1                  0  ...             0       0      0

[211 rows x 62 columns]

In [0]:
del df_new['Age']

In [0]:
df_newcopy=df_new.copy()

     Female  Male  Prefer not to say  ...  Southwestern  French  Other
0         1     0                  0  ...             0       0      0
1         1     0                  0  ...             0       0      0
2         1     0                  0  ...             0       0      0
3         1     0                  0  ...             0       0      0
4         1     0                  0  ...             0       0      0
..      ...   ...                ...  ...           ...     ...    ...
206       1     0                  0  ...             0       0      0
207       0     1                  0  ...             0       0      0
208       0     1                  0  ...             0       1      0
209       1     0                  0  ...             0       0      0
210       0     1                  0  ...             0       0      0

[211 rows x 62 columns]

In [0]:
del df_new['Indian']

In [0]:
from mlxtend.frequent_patterns import apriori
apriori(df_new, min_support=0.6)

    support itemsets
0  0.672986      (5)
1  0.933649     (41)
2  0.620853  (41, 5)

In [0]:
frequent_itemsets = apriori(df_new, min_support=0.1, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

      support                                      itemsets  length
0    0.554502                                      (Female)       1
1    0.440758                                        (Male)       1
2    0.218009                                        (High)       1
3    0.109005                                         (Low)       1
4    0.672986                                    (Moderate)       1
..        ...                                           ...     ...
206  0.142180           (Mexican, Chinese, Italian, Indian)       4
207  0.123223          (American, Chinese, Italian, Indian)       4
208  0.109005          (Barbecue, Chinese, Italian, Indian)       4
209  0.137441  (Chinese, Italian, Indian, Moderate, Female)       5
210  0.104265    (Chinese, Italian, Indian, Male, Moderate)       5

[211 rows x 3 columns]

In [0]:
frequent_itemsets[ (frequent_itemsets['length'] >= 2) &
                   (frequent_itemsets['support'] >= 0.5) ]

     support            itemsets  length
28  0.516588    (Female, Indian)       2
52  0.620853  (Moderate, Indian)       2

In [0]:
rules=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3)

In [0]:
print(rules)

             antecedents                  consequents  ...  leverage  conviction
0                 (High)                     (Female)  ... -0.016621    0.853870
1             (Moderate)                     (Female)  ...  0.024932    1.090701
2               (Female)                   (Moderate)  ...  0.024932    1.159414
3     (Non - Vegetarian)                     (Female)  ... -0.005885    0.968957
4               (Female)           (Non - Vegetarian)  ... -0.005885    0.982261
..                   ...                          ...  ...       ...         ...
824      (Male, Chinese)  (Moderate, Italian, Indian)  ...  0.030525    1.238547
825  (Moderate, Chinese)      (Male, Italian, Indian)  ...  0.041194    1.173839
826      (Male, Italian)  (Moderate, Chinese, Indian)  ...  0.041643    1.462459
827  (Moderate, Italian)      (Male, Chinese, Indian)  ...  0.030480    1.126104
828     (Male, Moderate)   (Italian, Chinese, Indian)  ...  0.011770    1.068984

[829 rows x 9 columns]